*{
  font-family: sans-serif;
  font-weight: bold;
}

.main-pop-up {
  color: #721817;
  text-align: center;
}

.help-page {
  font-size: 15px;
}

nav ul li {
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
}

input{
  border-width: 2px;
  border-color: #436599;
  border-radius: 6px;
  color: #000;
  padding: 2px;
  transition:0.2s ease all;
  text-align: center;
  -webkit-box-shadow: 8px 5px 10px 0px rgba(199,199,199,1);
  -moz-box-shadow: 8px 5px 10px 0px rgba(199,199,199,1);
  box-shadow: 8px 5px 10px 0px rgba(199,199,199,1);
}

input:focus{
  outline: none;
  background-color: #FFF;
  border-radius: 0px;
}

button {
  margin: 2px;
  background-color: #721817;
  color: #E0E0E2;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 8px 5px 10px 0px rgba(199,199,199,1);
  -moz-box-shadow: 8px 5px 10px 0px rgba(199,199,199,1);
  box-shadow: 8px 5px 10px 0px rgba(199,199,199,1);
}

button:hover{
  outline: none;
  border-color: #fff;
  box-shadow: 0 0 10px #fff;
  background-color: #51100f;
}

a{
  color: #721817;
}

.side-btn{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.side-btn button{
  width: 50px;
  height: 10px;
  font-size: 8px;
  background-color: #436599;
}

.side-btn button:hover{
  background-color: #36527c;
}

.author{
  font-size: 9px;
}

.time-limit{
  width: 60px;
}
